.Nutrition {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.Nutrition h5 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
    font-size: 22px;
}

.Nutrition p {
    color: hsl(24, 5%, 18%);
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif; 
}

.Nutrition table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit', sans-serif; 
}

.Nutrition td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.Nutrition td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    text-align: right;
}
.Nutrition td:nth-child(1) {
    color: hsl(24, 5%, 18%);
}
