body{
    background-color: hsl(30, 54%, 90%);
    padding: 400px;
}
.mainContainer{
    background-color: white;
    border-radius: 15px;
    padding: 50px;
}

@media (max-width: 700px) {
    body{
        background-color: hsl(30, 54%, 90%);
        padding: 30px;
    }
    .mainContainer{
        padding: 30px;
    }
}

/* // - Mobile: 375px
// - Desktop: 1440px */